.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-top: 25px;
  width: 100%;
}
.header-left {
  margin-left: 40px;
  color: rgba(204, 214, 246);
  font-weight: Courier;
}
.menu-item {
  display: flex;
}
.mobi-menu {
  color: rgba(100, 255, 218);
 /*  display: none; */
}

@media (max-width: 765px) {
  .menu-item {
    display: none;
  }
  .mobi-menu {
    margin-right: 20px;
    height: 50px;
    display: block;
  }
}
