.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  padding: 50px;
}
.intro-me {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.intro-me > p {
  color: rgba(100, 255, 218);
  margin-bottom: 10px;
  font-size: 20px;
}
.intro-me > h1 {
  color: rgba(204, 214, 246);
  font-size: 40px;
}
.intro-me > h2 {
  color: rgb(101, 113, 150);
  opacity: 0.9;
  font-size: 50px;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}
.background-description > P {
  color: rgb(101, 113, 150);
  opacity: 0.9;
  font-size: 35px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}
button {
  padding: 20px;
  background: transparent;
  color: rgba(100, 255, 218);
  border: 1px solid rgba(100, 255, 218);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
button:hover {
  background-color: rgba(100, 255, 219, 0.377);
  color: rgb(221, 228, 250);
}
